.movie_card{

    .movie_card-text{
        z-index: 2;
    }
}


.movieList_swiper{
    margin-top: 20px;
    width: 100%;

    img{
        width: 150px;
        height: 200px;
    }
}

.hollywood_text{
    color: #fff;
}
