.coming_soon{
    margin-top: 50px;

    .cm_itm{
        color: #fff;

        .coming_slide{
            padding-top: 20px;
            width: 100%;

            img{
                width: 150px;
                height: 200px;
            }
        }
    }
}