.futurestic{
    margin-top: 50px;

    .ft_itm{

        h2{
            color: #fff;
        }
    }
}

.ftr_slide{
    width: 100%;
    padding-top: 20px;

    img{
        width: 150px;
        height: 200px;
    }
}