.premiere{
    margin-top: 50px;

    .prm_item{

        h2{
            color: #fff;
        }
    }
}

.prm_slide{
    padding-top: 20px;
    width: 100%;

    img{
        width: 400px;
        height: 212px;
    }
}